<!DOCTYPE html>

<html>
   <head>
      <title>Barath Kanna portfolio app</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
     
   
   </head>
    <hr />
   <body>
    <h1>Barath Kanna portfolio app</h1>
    <hr />
    <div class="container">
     <ul>
        <li> <a href="Timestamp">Timestamp Microservice</a> </li>
        <li> <a href="Requestheaderparser">RequestHeaderParser</a> </li>
        <li> <a href="urlshortner">URL Shortener</a> </li>


     </ul>
    </div>
  </body>
</html>
